* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  white-space: nowrap;
  margin-left: 1rem;
}

body {
  overflow: hidden;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 5px;
  border-bottom: solid black 3px;
  background-color: cadetblue;
}

footer {
  grid-column: 1 / span 2;
  border-top: solid black;
}

img {
  margin-left: 5px;
}

header {
  border-bottom: solid black 3px;
  background-color: cadetblue;
}

table {
  border-spacing: 0;
  padding-left: 1rem;
}

td {
  border-left: solid black;
  border-top: solid black;
}

ul {
  list-style: none;
  padding-left: 4px;
}

label {
  color: whitesmoke;
}

DivButton1 {
  max-width: 100vw;
  width: 30%;
}

DivButton2 {
  max-width: 100vw;
  width: 15%;
}

.indexBody {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 80% 10%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  grid-row: 2 / 3;
  grid-column: 2;
  background-color: burlywood;
}

.showcase {
  width: 250px;
  border: black;
  border-style: solid;
  margin-top: 1rem;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-icon {
  height: 1.5rem;
  padding-top: 3px;
}

.tavlaBeskrivning {
  grid-column: 1 / span 2;
}

.return {
  width: 40px;
}

.tavlaBody {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 10% 8% 50% 10% 20%;
}

.favoriterBody {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr 2fr;
}

.tavla {
  width: 300px;
  border: black;
  border-style: solid;
  margin-left: 1rem;
}

.backArrow {
  grid-column: 1 / span 2;
}

.kassaBody {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 7fr 1fr;
}

.varukorgBody {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.button {
  max-width: 100vw;
  width: 500px;
}

.kassaMain {
  grid-column: 1 / span 2;
  min-height: 50vh;
  overflow-y: scroll;
}

.kassaFooter {
  grid-column: 1 / span 2;
  max-height: 30vh;
}

.favoriterMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding-left: 5rem;
  background-color: burlywood;
}

.favoriterFooter {
  display: flexbox;
  justify-content: space-around;
}

.socialMedia {
  min-width: 1rem;
  max-width: 2.5rem;
  padding-top: 3px;
}

.sidebar {
  border-right: solid black;
  background-color: darkblue;
}

.varukorgMain {
  overflow-y: scroll;
  grid-column: 1 / span 2;
}

.tdButtons {
  padding-left: 10px;
  border: hidden;
}

.beskrivning {
  padding-bottom: 5px;
}

.endTd {
  border-right: solid black;
}

.topTdEnd {
  border-right: solid black;
  border-bottom: solid black;
}

.topTd {
  border-bottom: solid black;
}

.showcaseBottom {
  width: 100px;
  border: solid black;
  padding-left: 5px;
  padding-top: 5px;
}

.sidebarP {
  color: whitesmoke;
}

.heart-icon {
  height: 2rem;
}
